* {
    box-sizing: border-box;
}

body {
    width: 100%;
}


nav img {
    width: 100%;
}


.project:hover {
    transform: scale(1.2);
}

.skill {
    width: 5rem;
    border-radius: 400px;
}

.skill-spring {
    width: 5rem;
}

/* Extra small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:360px) {
    .project {
        width: 330px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    .project {
        width: 30rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }