html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    color: #5D737E;
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
}
*:focus {
    outline: none;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
}
h1{
    font-size: 4vw;
}
h2 {
    font-size: 3.5vw;
    margin: 1vw;
}
h3 {
    font-size: 2.3vw;
}
h4 {
    font-size: 2.1vw;
}
p {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    margin: 0 auto;
    width: 90%;
}
.row {
    width:100%;
    padding: 3vw 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 1.5vw;
    box-sizing: border-box;
}
.column.one {
    width: 100%;
}
.column.one-fourth{
    width: 25%;
}
.column.two-fifths{
    width: 40%;
}
.column.three-fifths{
    width: 60%;
}
.column.three-eighths{
    width: 37.5%;
}
.column.five-eighths{
    width: 62.5%;
}
.column.one-half{
    width: 50%;
}
.column.three-fourths{
    width: 75%;
}
.column.three-fourths.offset{
    margin-left: 12.5%;
}
.column.one-third {
    width: 33.33%;
}
.column.one-third.offset{
    margin-left: 33.33%;
}
.column.one-half.offset{
    margin-left: 25%;
}
.column.two-thirds {
    width: 66.67%;
}
.nav {
    box-sizing: border-box;
    width: 100%;
    background: #5D737E;
    color: white;
    padding: 1.5vw;
    position: fixed;
    z-index: 10;
    font-size: 1.5vw;
}
.nav .name {
    display: inline;
    position: absolute;
    left: 43.75vw;
    text-decoration: none;
    color: white;
    top: 0;
}
.nav-links.right {
    float: right;
    display: inline;
}
.nav-links.left {
    float: left;
    display: inline;
}
.nav a{
    padding: 1.5vw;
    text-decoration: none;
    color: white;
}
.nav a:hover{
    text-decoration: underline;
}
.nav a:active{
    color: #64B6AC;
}
.menu {
    display: none;
}
.banner{
    width: 100%;
    min-height: 100%;
    background-image: url("../img/laptop.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-inner{
    padding: 45.5vh 20vw;
    background: rgba(255, 255, 255, .7);
}
.pink{
    background: #FBD5DB;
}
.about p{
    text-align: left;
    background: #5D737E;
    color: #64B6AC;
    padding: 1.5vw;
    border-radius: 10px;
    height: 33.5vw;
    line-height: 2vw;
}
.medium {
    display: none;
}
.focus{
    color: white;
}
.computer {
    width: 100%;
    margin-top: 25%;
}
.outerScreen{
    width: 100%;
    height: 18.89vw;
    background: #5D737E;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    box-shadow: -0.694vw 0.694vw 0.694vw grey;
}
.screen{
    width: 93.33%;
    height: 14.443vw;
    border-radius: 20px;
    position: absolute;
    top: 1.11vw;
    left: 3.33%;
}
.screenOn{
    background: #C0FDFB;
}
.screenOff{
    background: #314650;
}
.compEyes{
    position: absolute;
    top: 11vw;
    left: 0.5vw;
}
.heading {
    width: 76.67%;
    margin: 0 auto;
    padding: 6.777vw 0;
}
.type{
    animation: typing 2s steps(13, end), blinking .9s step-end infinite;
    border-right: 3px solid #5D737E;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    font-size: 3.72vw;
}
@keyframes typing {
    0%{width: 0;}
    100%{width: 100%}
}
@keyframes blinking {
    0%{border-color: transparent;}
    50%{border-color: #5D737E;}
}
.power {
    width: 13.33%;
    height: 1.11vw;
    background: #5D737E;
    border: 0.2777777777777778vw solid #818183;
    border-radius: 20px;
    position: absolute;
    bottom: .83vw;
    right: 42%;
    cursor: pointer;
}
.power:active {
    background: #314650;
}
.stand{
    background: lightgray;
    width: 16.67%;
    height: 2.2222222222222223vw;
    border-left: 0.5555555555555556vw solid #5D737E;
    border-right: 0.5555555555555556vw solid #5D737E;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    box-shadow: -0.6944444444444444vw 0.20833333333333331vw 0.6944444444444444vw grey;
}
.keyboard {
    width: 93.33%;
    height: 11.11111111111111vw;
    background: #5D737E;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.all-keys{
    margin: 0 auto;
    padding: 1.67vw 5%;
}
.key-row{
    display: flex;
}
.key {
    width: 7%;
    height: 1.6vw;
    background: #5D737E;
    border-radius: 10px;
    border: 0.2777777777777778vw solid #818183;
    margin: .208vw .625%;
}
.space {
    width: 21.67%;
    height: 1.6vw;
    background: #5D737E;
    border-radius: 10px;
    border: 0.2777777777777778vw solid #818183;
    margin: 0.20833333333333331vw .625%;
}
.light-blue {
    background: #C0FDFB;
}
.paper {
    background: white;
    border-radius: 15px;
    width: 100%;
    height: 92.2vw;
    text-align: left;

}
.paper h4 {
    margin: 1vw 0;
}
.paper dd, .paper li{
    margin-top: .4vw;
}
.paper dt {
    margin-top: 2vw;
}
.paper dd {
    margin-left: 2.5vw;
}
.paper p {
    padding-left: 1.5vw;
}
.paper a{
    text-decoration: none;
    color: white;
}
.leftColumn{
    background: #64B6AC;
    color: white;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-left: 2vw;
    padding-right: 2vw;
}
.professionalImg img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 80%;
    margin: 1vw 0;
}
.leftColumn h3{
    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 2.5vw;
    font-size: 2.45vw;
}
.leftColumn ul {
    font-family: Ubuntu, monospace;
}
.resumeContact span {
    color: white;
    text-decoration: none;
}
.resumeTools p{
    margin: .75vw;
}
.professionalImg{
    text-align: center;
}
.downloadResume{
    color: #fafafa;
    background: #64B6AC;
    padding: .75vw;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
.downloadResume:hover{
    color: #5D737E;
    background: #fafafa;
}
.downloadResume:active{
    background: #818183;
    color: #fafafa;
}
.rightColumn {
    height: 100%;
}
.gray{
    background: #818183;
    color: white;
    min-height: 57vw;
}
.projects img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.projects img:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 10px #5D737E;
}
.tag {
    border: 3px solid #64B6AC;
    padding: .5vw;
    border-radius: 15px;
    margin: .5vw;
    float: left;
}
.contact {
    background: #64B6AC;
    color: white;
    min-height: 43vw;
}
.contact img{
    border-radius: 50%;
    margin-top: 2vw;
    width: 90%;
}
.contact a{
    display: block;
    font-size: 1.75vw;
    color: white;
    text-decoration: none;
    margin: 5%;
}
.contact i{
    font-size: 2.5vw;
}
.contact a:hover{
    color: #C0FDFB;
}
.contact a:active{
    color: #FBD5DB;
}
hr {
    width: 25%;
    border: 1px solid white;
}
.modal{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
#simonModal, #pomodoroModal, #weatherModal, #gamelisterModal, #kincurrentlyModal {
    display:none;
}
.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 3vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.popUp{
    animation: pop-up .25s linear;
    transform-origin: 50%;
}
.popDown{
    animation: pop-down .25s linear;
    transform-origin: 50%;
}
@keyframes pop-up {
    0%{transform: scale(.5, .5)}
    100%{transform: scale(1,1)}
}
@keyframes pop-down {
    0%{transform: scale(1, 1)}
    100%{transform: scale(.3,.3)}
}

/*----------------------------------YOUTUBE MODALS-------------------------------*/

.youtubeContent {
    width: 70%;
    margin: 2% auto;
    height: 48.5vw;
    font-size: 1.6vw;
}
.youtubeContent h1 {
    text-align: center;
    font-size: 4vw;
    margin: 1.5vw 0;
}
.youtubeVid {
    width: 90%;
    height: 36vw;
}


/*----------------------------------POMODORO MODAL-------------------------------*/

#pomodoroContent {
    width: 70%;
    margin: 2% auto;
    height: 48.5vw;
    font-size: 1.6vw;
}
#pomodoroContent h1 {
    text-align: center;
    font-size: 4vw;
    margin: 1.5vw 0;
}
.tomato{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: #d0433a;
    margin: 1vw auto;
    box-shadow: inset 1vw -1vw 0 #92090a;
}
.leafUp, .leafDown {
    transform: rotateX(38deg);
}
.leafUp{
    position: relative;
    top: -2.5vw;
    left: 4.8vw;
    width: 0;
    height: 0;
    border-bottom: 9vw solid #1c9d34;
    border-top:0 solid transparent;
    border-left:10vw solid transparent;
    border-right: 10vw solid transparent;
}
.leafDown{
    position: relative;
    top: -9.5vw;
    left: 4.8vw;
    width: 0;
    height: 0;
    border-top: 11vw solid #1c9d34;
    border-bottom:0 solid transparent;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
}
.eye{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background: black;
}
.eye:after{
    content: "";
    background: white;
    position: absolute;
    width: .6vw;
    height: .6vw;
    border-radius: 50%;
    top: .5vw;
    left: .5vw;
}
.eye.leftEye{
    position: relative;
    left: 8.5vw;
    top: -8vw;
}
.eye.rightEye{
    position: relative;
    right: -18.5vw;
    top: -10.5vw;
}
.smile{
    width: 2.3vw;
    height: 1.6vw;
    border-radius: 100%/0 0 4vw 4vw;
    border: .25vw solid;
    border-color: transparent transparent #000 transparent;
    position: relative;
    top: -10.5vw;
    left: 13.6vw;
}
.smileAnimation{
    width: 2.3vw;
    height: 1.6vw;
    border-radius: 100%/0 0 4vw 4vw;
    border: .25vw solid;
    border-color: transparent transparent #000 transparent;
    position: relative;
    top: -10.5vw;
    left: 13.6vw;
    animation: smallSmile 1s;
}
.bigSmile{
    animation: bigSmile 1s;
    animation-fill-mode: forwards;
    border-color: #000;
    background: #000;
    width: 5.5vw;
    height: 3vw;
    border-radius: 100%/0 0 5vw 5vw;
    position: relative;
    top: -4.5vw;
    left: 12.5vw;
    transform-origin: 50% 50%;
    color: white;

}
@keyframes bigSmile {
    0% {
        transform: scale(1, 1);
        top: -10.5vw;
    }
    100% {
        transform: scale(3, 3);
        top: -4.5vw;
    }
}
@keyframes smallSmile {
    0% {
        transform: scale(3, 3);
        top: -4.5vw;
    }
    100% {
        transform: scale(1, 1);
        top: -10.5vw;
    }
}
#timer{
    padding: .2vw;
    font-size: 1.5vw;
}
.pomodoroButtons {
    display: block;
    margin: .3vw auto;
}
#pomodoroContent input {
    width: 1.75vw;
    font-family: Ubuntu, monospace;
    font-size: 1.3vw;
}
#pomodoroContent button {
    color: white;
    background: #d0433a;
    border-radius: 10px;
    padding: .5vw;
    margin: .5vw;
    font-family: Ubuntu, monospace;
    width: 6vw;
    font-size: 1.7vw;
    cursor: pointer;
}
#pomodoroContent button:hover {
    color: black;
}
#pomodoroContent button:active {
    background: black;
    color: white;
}
#pomodoroContent button:disabled,
#pomodoroContent button[disabled]{
    background: #92090a;
    cursor: default;
    color: #b7b7b7;
}
#statusIcon{
    z-index: 1;
    color: white;
    position: absolute;
    font-size: 1.1vw;
    top: 1.65vw;
    left: 2.1vw;
}
#warning {
    background: #f3dede;
    color: #a94442;
    border-radius: 10px;
    padding: .75vw;
    margin: .25vw 0;
}
#pomodoroContent p{
    font-size: 1vw;
    margin: .25vw;
}
/*------------------------------------SIMON MODAL--------------------------------*/

#simonContent {
    width: 50%;
    margin: 3% auto;
    height: 45vw;
}
#simonContent h1 {
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 4vw;
    margin: 1.5vw 0;
}
#simonContent button {
    height: 3vw;
    font-size: 2vw;
    border-radius: 5px;
    margin: 1vw;
    font-family: 'VT323', monospace;
    color: #5D737E;
    background: white;
}
#simonContent button:hover {
    background: #5D737E;
    color: white;
    cursor: pointer;
}
.block {
    width: 16.64816870144284vw;
    height: 16.64816870144284vw;
    margin: 1.1098779134295227vw;
    overflow: hidden;
}
#startSimon{
    position: absolute;
    left: -2.2vw;
    top: auto;
}
.top, .bottom {
    display: flex;
    justify-content: center;
}
.topRight {
    border-top-right-radius: 100%;
}
.topLeft{
    border-top-left-radius: 100%;
}
.bottomLeft{
    border-bottom-left-radius: 100%;
}
.bottomRight{
    border-bottom-right-radius: 100%;
}
.circle {
    position: absolute;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background: white;
    top: 11vw;
    left: 17vw;
}
.red {
    background: red;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.muteRed {
    background: #D97273;
}
.muteBlue {
    background: #9acfea;
}
.muteYellow {
    background: khaki;
}
.muteGreen {
    background: #6CA559;
}
#game{
    position: relative;
}
.overAnimation {
    background: url("../img/simon-game-over.png");
    background-size: 211vw 38.5vw;
    position: absolute;
    width: 42.2vw;
    height: 40vw;
    top: -.5vw;
    left: 3.6vw;
    animation:over 1s steps(5, end);
    animation-fill-mode: forwards;
}
@keyframes over {
    0%{background-position: 0 -.5vw;}
    100%{background-position: -211vw;}
}
#html {
    font-size: 6vw;
    font-family: 'VT323', monospace;
    position: absolute;
    top: 16vw;
    left: 23.7vw;
}

/*----------------------------------WEATHER MODAL------------------------------------------*/
#weatherContent {
    width: 80%;
    margin: 3% auto;
    height: 47vw;
    overflow: auto;
    padding: 1vw;
    background: #C0FDFB;
    opacity: .99;
}
.sun{
    position: absolute;
    right: 15vw;
    top: 8vw;
    height: 15vw;
    width: 15vw;
    background: gold;
    border-radius: 50%;
    box-shadow: 0 0  6vw 2.5vw darkorange;
    z-index: -1;
    animation: sun 1s infinite ease alternate;
}
@keyframes sun {
    0%{box-shadow: 0 0  6vw 2.5vw darkorange;}
    100%{box-shadow: 0 0  6vw 4vw darkorange;}
}
.circ1{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: 16vw;
    top: 4vw;
}
.circ2{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background: white;
    position: absolute;
}
.circ3{
    width: 35vw;
    height: 13vw;
    border-radius: 40%;
    background: white;
    position: absolute;
    left: 10vw;
    top: 8vw;
}
.cloud{
    position: relative;
    z-index: -1;
    opacity: .9;
    display: flex;
    justify-content: center;
}
.cloudTop {
    top: 7vw;
    animation: float 65s linear infinite;
    animation-fill-mode: both;
}
.cloudMid{
    top: 25vw;
    animation: float 65s linear 30s infinite;
    animation-fill-mode: both;
}
.cloudBottom{
    top: 50vw;
    animation: float 65s linear 15s infinite;
    animation-fill-mode: both;
}
@keyframes float{
    0%{left: -55vw;}
    100%{left: 100%}
}
#weatherContent main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
.instruct {
    margin: 1.25vw;
    font-weight: bolder;
}
#address{
    border-bottom: 2px solid #5D737E;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Ubuntu, monospace;
    padding: .25vw;
    font-size: 1vw;
    background: transparent;
}
.checkboxes{
    width: 55%;
    display: inline-block;
    text-align: center;
}
#weatherContent label {
    color: #8080807d;
    padding: 0 .5rem;
    white-space: nowrap;
    cursor: pointer;
}
#weatherContent input:checked +label {
    color: #2793e6;
    font-weight: bolder;
}
.dayOptions {
    width: 15%;
    text-align: right;
    display: inline-block;
}
.dayOptions select {
    background: #818183;
    border-radius: 5px;
    color: white;
    font-family: Ubuntu, monospace;
    cursor: pointer;
    font-size: 1vw;
}
.weatherOptions{
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Ubuntu, monospace;
}
.searchOptions{
    width: 25%;
    display: inline-block;
    text-align: left;
}
.searchOptions button{
    width: 6vw;
    background: #818183;
    border-radius: 5px;
    color: white;
    font-family: Ubuntu, monospace;
    cursor: pointer;
    padding: .25vw;
    font-size: 1vw;

}
.searchOptions button:hover{
    background: #C0FDFB;
    color: #5D737E;
}
.city {
    display: block;
    margin: 1.25vw 0;
    font-family: Ubuntu, monospace;
}
.headers {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
}
.header {
    background: #818183;
    height: auto;
    text-align: center;
    border: 1px solid #818183;
    color: white;
    font-family: Ubuntu, monospace;
    font-size: 1.5vw;
    padding: .5vw;
    margin: 0.6944444444444444vw .3vw;
    border-radius: 10px;
    flex: 1;
}
.headerSmall {
    display: none;
}
.weather {
    display: flex;
    height: auto;
    clear: right;
}
.day {
    background: white;
    text-align: center;
    border: 1px solid #5D737E;
    border-radius: 10px;
    margin: 0 .3vw;
    flex: 1;
}
#weatherContent h4 {
    margin: .75vw 0;
    font-family: Ubuntu, monospace;
}
.gifSize {
    height: 5.208333333333333vw;
}
#map{
    width: 100%;
    height: 27.77777777777778vw;
    border: 3px solid #818183;
    border-radius: 5px;
    margin-bottom: 3vw;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    body{
        font-size: 2vw;
    }
    h1{
        font-size: 6vw;
    }
    h2 {
        font-size: 4vw;
        margin: 2vw;
    }
    h3 {
        font-size: 3.5vw;
    }
    h4 {
        font-size: 3vw;
    }
    .nav {
        height: 9vw;
        font-size: 4.5vw;
    }
    .nav .name {
        left: 31.75vw;
        top: 1vw;
    }
    .nav-links.left, .nav-links.right {
        display: none;
    }
    .menu {
        display: inline-block;
        width: 6.5vw;
        height: 5.25vw;
        border-radius: 9px;
        border: 1px solid white;
        float: right;
        font-size: 3.25vw;
        font-weight: bolder;
        padding-top: .25vw;
    }
    .menu:hover {
        background: #FBD5DB;
    }
    .menu:active {
        background: #FBD5DB;
    }
    .menu ul {
        position: absolute;
        right: 1.5vw;
        top: 9vw;
        background: #5D737E;
        margin: 0;
        list-style-type: none;
        padding: 0;
        border-radius: 0 0 10px 10px;
        font-size: 5.25vw;
        font-weight: normal;
        opacity: .85;
    }
    .menu li {
        padding: 2.75vw 3.5vw;
    }
    .leftColumn .fa-ul {
        margin-left: 1.5em;
    }
    .column.one-third {
        width: 50%;
        height: 53vw;
    }
    .screen, .outerScreen, .keyboard {
        border-radius: 12px;
    }
    .key, .space {
        border-radius: 5px;
    }
    .projects p {
        line-height: 5vw;
    }
    .tag {
        float: none;
        border-radius: 8px;
    }
    .one-third p:nth-of-type(1) {
        display: none;
    }
    .column.three-fourths.offset{
        width: 100%;
        margin: 0;
    }
    .about p{
        line-height: 3vw;
        height: 56.5vw;
    }
    .medium {
        display: block;
    }
    .large {
        display: none;
    }
    .computer {
        margin-top: 62%;
    }
    .paper {
        height: 146.2vw;
    }
    .contact img {
        width: 100%;
        margin-top: 3vw;
    }
    .contact a {
        font-size: 2.25vw;
    }
    .contact i {
        font-size: 3.25vw;
    }
    #simonContent, #pomodoroContent {
        margin: 15% auto;
    }
    #pomodoroContent {
        height: 54vw;
    }
    #weatherContent {
        margin: 10% auto;
        height: 75vw;
        width: 90%;
    }
    .circ1 {
        left: 21vw;
    }
    .close {
        font-size: 5vw;
    }
}
@media screen and (max-width: 425px) {
    body{
        font-size: 3.5vw;
    }
    h1{
        font-size: 10vw;
    }
    h2 {
        font-size: 8vw;
        margin: 2vw;
    }
    h3 {
        font-size: 4.5vw;
    }
    h4 {
        font-size: 4vw;
    }
    .nav {
        height: 15vw;
        font-size: 6.5vw;
    }
    .nav .name {
        left: 21.75vw;
        top: 3vw;
    }
    .menu {
        width: 11vw;
        height: 10.5vw;
        border-radius: 17px;
        font-size: 6.25vw;
        padding-top: .5vw;
        margin-right: 4vw;
    }
    .menu ul {
        right: 1.25vw;
        top: 15vw;
        border-radius: 0 0 6px 6px;
        font-size: 7.25vw;
    }
    .menu li {
        padding: 3.75vw 4.5vw;
    }
    .banner-inner{
        padding: 43.5vh 5vw;
    }
    .about p{
        line-height: 6vw;
        height: 110.5vw;
    }
    .column.three-fifths {
        width: 100%;
    }
    .column.two-fifths {
        display: none;
    }
    .column.three-eighths {
        width: 100%;
    }
    .paper {
        height: 147vw;
    }
    .rightColumn {
        display: none;
    }
    .leftColumn {
        border-radius: 10px;
    }
    .leftColumn h3 {
        font-size: 6.45vw;
    }
    .resumeTools {
        display: none;
    }
    .downloadResume {
        border-radius: 5px;
        padding: 1.75vw;
    }
    .column.one-third {
        width: 100%;
        height: auto;
    }
    .tag {
        border-radius: 7px;
        border: 2px solid #64B6AC;
        padding: 1vw;
    }
    .projects p {
        line-height: 8vw;
    }
    .contact a {
        font-size: 4.25vw;
    }
    .contact i {
        font-size: 5.5vw;
    }
    .close {
        font-size: 12vw;
    }
    /*----------------------------------POMODORO MODAL-------------------------------*/

    #pomodoroContent {
        width: 80%;
        height: 127vw;
        font-size: 4.6vw;
    }
    #pomodoroContent h1 {
        font-size: 6vw;
    }
    .tomato{
        width: 60vw;
        height: 60vw;
        margin: 4vw auto;
        box-shadow: inset 3vw -1vw 0 #92090a;
    }
    .leafUp{
        top: -5.5vw;
        left: 9.8vw;
        border-bottom: 20vw solid #1c9d34;
        border-top:0 solid transparent;
        border-left:20vw solid transparent;
        border-right: 20vw solid transparent;
    }
    .leafDown{
        top: -21.5vw;
        left: 8.8vw;
        border-top: 22vw solid #1c9d34;
        border-bottom:0 solid transparent;
        border-left: 22vw solid transparent;
        border-right: 22vw solid transparent;
    }
    .eye{
        width: 5.5vw;
        height: 5.5vw;
    }
    .eye:after{
        width: 1.6vw;
        height: 1.6vw;
        top: 1.2vw;
        left: 1vw;
    }
    .eye.leftEye{
        left: 15.5vw;
        top: -17vw;
    }
    .eye.rightEye{
        right: -38.5vw;
        top: -22.5vw;
    }
    .smile{
        width: 4.3vw;
        height: 3.6vw;
        border-radius: 100%/0 0 9vw 9vw;
        border: .5vw solid;
        border-color: transparent transparent #000 transparent;
        top: -23.5vw;
        left: 27.8vw;
    }
    .smileAnimation{
        width: 4.3vw;
        height: 3.6vw;
        border-radius: 100%/0 0 9vw 9vw;
        border: .5vw solid;
        border-color: transparent transparent #000 transparent;
        top: -23.5vw;
        left: 27.8vw;
    }
    .bigSmile{
        width: 10.5vw;
        height: 6vw;
        border-radius: 100%/0 0 9vw 9vw;
        top: -12.5vw;
        left: 24.5vw;

    }
    @keyframes bigSmile {
        0% {
            transform: scale(1, 1);
            top: -23.5vw;
        }
        100% {
            transform: scale(3, 3);
            top: -12.5vw;
        }
    }
    @keyframes smallSmile {
        0% {
            transform: scale(3, 3);
            top: -12.5vw;
        }
        100% {
            transform: scale(1, 1);
            top: -23.5vw;
        }
    }
    #timer{
        font-size: 3vw;
    }
    #pomodoroContent input {
        width: 4.75vw;
        font-size: 3.3vw;
    }
    #pomodoroContent button {
        border-radius: 10px;
        padding: 1.5vw;
        width: 17vw;
        font-size: 4.7vw;
    }
    #statusIcon{
        font-size: 2.6vw;
        top: 3.2vw;
        left: 3.7vw;
    }
    #warning {
        border-radius: 5px;
        font-size: 3.5vw;
    }
    #pomodoroContent form {
        line-height: 6.5vw;
    }
    #pomodoroContent p{
        font-size: 3vw;
        margin: 3.25vw;
    }
    /*------------------------------------SIMON MODAL--------------------------------*/

    #simonContent {
        width: 80%;
        margin: 15% auto;
        height: 100vw;
    }
    #simonContent h1 {
        font-size: 9vw;
    }
    #simonContent button {
        height: 8vw;
        font-size: 6vw;
    }
    .block {
        width: 37vw;
        height: 37vw;
    }
    .circle {
        width: 35vw;
        height: 35vw;
        top: 22vw;
        left: 22.7vw;
    }
    .overAnimation {
        background-size: 442vw 82.5vw;
        width: 82.2vw;
        height: 80vw;
        top: 2vw;
        left: -5.6vw;
    }
    @keyframes over {
        0%{background-position: 0 -5.6vw;}
        100%{background-position: -442vw;}
    }
    #html {
        font-size: 17vw;
        top: 34.7vw;
        left: 33.5vw;
    }

    /*----------------------------------WEATHER MODAL------------------------------------------*/
    #weatherContent {
        width: 80%;
        margin: 15% auto;
        height: 150vw;
    }
    .sun{
        right: 8vw;
        top: 21vw;
        height: 35vw;
        width: 35vw;
        z-index: -1;
    }
    .circ1{
        width: 37vw;
        height: 37vw;
        left: -9vw;
        top: 6vw;
    }
    .circ2{
        width: 44vw;
        height: 44vw;
    }
    .circ3{
        width: 64vw;
        height: 20vw;
        left: -24vw;
        top: 24vw;
    }
    .cloudTop {
        top: 23vw;
    }
    .cloudMid{
        top: 77vw;
    }
    .cloudBottom{
        top: 141vw;
    }
    @keyframes float{
        0%{left: -68vw;}
        100%{left: 100vw}
    }
    @keyframes sun {
        0%{box-shadow: 0 0  6vw 2.5vw darkorange;}
        100%{box-shadow: 0 0  6vw 6vw darkorange;}
    }
    .day p {
        line-height: 5vw;
        margin: auto;
    }
    #address {
        font-size: 4vw;
    }
    .dayOptions, .searchOptions {
        display: block;
        text-align: center;
        width: 100%;
    }
    .searchOptions button {
        width: 17vw;
        font-size: 4vw;
        padding: 1.25vw;
    }
    #weatherContent select {
        height: 6.8vw;
        font-size: 3.4vw;
        float: none;
        margin: 2vw;
    }
    .top {
        padding: 2vw;
    }
    .inner {
        width: 98%;
        text-align: center;
    }
    .gifSize {
        height: 20vw;
    }
    .day {
        flex: 0;
        margin: 2vw 0;
    }
    .instruct {
        margin: 3.5vw;
    }
    .checkboxes{
        text-align: center;
        font-size: 3.5vw;
    }
    .checkboxes label {
        display: block;
    }
    .headers {
        display: none;
    }
    .headerSmall {
        display: block;
        font-size: 4vw;
        height: auto;
    }
    .weather {
        display: block;
    }
    #map{
        height: 70vw;
    }
}